
@font-face {
 font-family: "KodeMono-VariableFont_wght";
 src: local("KodeMono-VariableFont_wght"),
 url(./KodeMono-VariableFont_wght.ttf) format("opentype");
  src:  url('./KodeMono-VariableFont_wght.ttf');
}
body{
  font-family: "KodeMono-VariableFont_wght";
    font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
 background-color: #142d4c;
  color: #9fd3c7;
  
}
.container{
  border-radius: 20px 20px 20px 20px;
 
}

.top-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button-dark {
  background-color:#142d4c;
  color: #9fd3c7;
  border: #142d4c;
  border-radius: 20px 20px 20px 20px;

  
}

input:invalid {
  color: #142d4c;
  background-color: #9fd3c7;
}

input:valid {
  color: #142d4c;
  background-color: #9fd3c7;
}
textarea:valid{
  color: #142d4c;
  background-color: #9fd3c7;
}
.markdown{
  table {
    border-collapse: collapse;
  }

  th,
  td {
    padding: 6px 13px;
    border: 1px solid ff5c00;
  }

  p {
    line-height: 1.5;
  }
}

.box {
  display: flex;
}

.one {
  flex: 1 1 auto;
}

.two {
  flex: 1 1 auto;
}


.three {
  flex: 1 1 auto;
}

.button-light {
  background-color: #9fd3c7;
  border-color: #9fd3c7;
  border-radius: 20px 20px 20px 20px;
  color: #142d4c;

}
.button-black {
  background-color: #142d4c;
  border-color: #142d4c;
  color: #9fd3c7;
  border-radius: 20px 20px 20px 20px;


}

.button-black.button-clear,
.button-black.button-outline {
  background-color: transparent;
  color: #9fd3c7;
}

.button-black.button-clear {
  border-color: transparent;
}
a{
  color: #9fd3c7;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ff5c00
}
div.horizontalgap {
  padding: 5px;
}
@media (max-width: 767px) {                  
  .content-to-hide {
     display: none;
  }
}

.yellow{
  font-size: 20px;
  color: #1d51c9
  }

.img1{
  opacity: 0.90;
  min-height: 400px;
  max-width: 100%; 
display: block; 
height: auto;
height: auto;
width: 100%;

}

table,
td {
    border: 1px solid #9fd3c7;
}

thead,
tfoot {
    background-color: #9fd3c7;
    color: #142d4c;
}

.textarea {
  height: 500px;
}
.color1 {color: #081b46;}
.color2 {color: #207bd8;}
.color3 {color: #20a7d8;}
.color4 {background-color: #fdb44b;}
.color5 {background-color: #e3efed;}
.hide{
  display:none
}
.first-color { 
  background-color: #142d4c; 
}
	
.second-color { 
	background-color: #385170; 
}

.third-color { 
  background-color: #253952; 
}

.fourth-color { 
  background-color: #fdb44b; 
}

.c{ 
  width: 100%;
  min-width: 0px;
 max-width: 1000px;
 min-height: 200px;
 max-height: 1000px;
 
   background-color: #c9c5b1; margin: 0 auto; }
   @media only screen 
   and (min-device-width : 320px) 
   and (max-device-width : 480px) { .c { display: none; }}
   @media only screen and (min-width: 768px) {
    .tuto {
      display: none;
    }
  }
  .log{
    overflow: auto;
max-height: 80vh;
  }
  .log2{
    overflow: auto;
max-height: 90vh;
  }
  .cards {
    max-width: 1100px;
    margin: 1em auto;
  
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 10px;
  }
  
  .card {
    border: 1px solid #142d4c;
    border-radius: 3px;
    background-color: #142d4c;
    word-break:break-all;
    display: grid;
    grid-template-rows: max-content 50px 1fr;

  }
  .card h6 {
    margin: 0;
    padding: 0.5rem;
  }
  
  .card .content {
    padding: 0.5rem;
  }
  .card footer {
    background-color: #142d4c;
    padding: 0.5rem;
  }
.editor-c{
  height: 90vh;
}

.scroll
{
  height: 60vh;
    overflow-y: scroll;
}
.column{
  word-break: break-all;
  border-radius: 20px 20px 20px 20px;

}
.row{
  border-radius: 30px 30px 30px 30px;

}
.p{
  word-break: break-all;
}
.scroll2
{
  height: 50vh;
    overflow-y: scroll;
}
.col {

    color: #142d4c; 

}